
.card-img-top {
    width: 100%;
   
    object-fit: cover;
}
.logopic{
    width: 50%;
}
@media only screen and (max-width: 768px){
    .title1{font-size:50px ;
        text-align: center;
    }
    
    
}
body{
    background-color: darkgray;
}
.container{
    background-color: white;
    padding-bottom: 60%;
}
.message{
    width: 500px;
}
.icons{
 width:50px;
 margin: 10px;
 
}
.card-img-overlay h1{
    text-align: center;
    background-color: rgba(rgb(83, 72, 72,.5);
    z-index: 3;
}