
.card-img-top {
    width: 100%;
   
    object-fit: cover;
}
.logopic{
    width: 50%;
}
@media only screen and (max-width: 768px){
    .title1{font-size:50px ;
        text-align: center;
    }
    
    
}
body{
    background-color: darkgray;
}
.container{
    background-color: white;
    padding-bottom: 100%;
}
.message{
    width: 500px;
}
